<div class="main-content" ng-controller="AppCtrl">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card card-profile">
          <div class="card-avatar">
            <a>
              <img class="img" src="avatar" />
            </a>
          </div>
          <div class="card-body">
            <h6 class="card-category text-gray">Rutinas</h6>
            <p class="card-description">Rutinas activas</p>
          </div>
        </div>

       
    </div>
  </div>

  <div class="row">
    <div class="col">
      
    </div>
  </div>
</div>
