<div class="logo">
  <a class="simple-text">
    <div class="logo-img"></div>
    ControlFit
  </a>
</div>
<div id="wrapper" [ngClass]="{ '.class.toggled': setClass }">
  <div class="sidebar-wrapper" id="sidebar-wrapper">
    <ul class="nav" id="sidebar-wrapper">
      <li
        routerLinkActive="active"
        *ngFor="let menuItem of menuItems"
        class="{{ menuItem.class }} nav-item"
      >
        <a class="nav-link" [routerLink]="[menuItem.path]">
          <i class="material-icons">{{ menuItem.icon }}</i>
          <p>{{ menuItem.title }}</p>
        </a>
      </li>
    </ul>
  </div>
</div>
